<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New User</title>

</head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
<form action="{{ url_for("new_user")}}" method="post">
    <label for="fname">First Name:</label>
    <input type="text" id="fname" name="fname">
    <label for="lname">Last Name:</label>
    <input type="text" id="lname" name="lname">
    <label for="uname">Username:</label>
    <input type="text" id="uname" name="uname"><br>
    <label for="pwd">Password:</label>
    <input type="password" id="pwd" name="pwd"><br>
    <input type="submit" value="Submit">
</form>
</body>
</html>